@model CRM.Models.Domain.Employee;

@{
    ViewData["Title"] = "EmployeeDashBoard";
    Layout = "~/Views/Shared/_Employe.cshtml";
}

<!-- Page body -->
@if (TempData.ContainsKey("Registered") && (bool)TempData["Registered"]!)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Registration Completed Successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header border-0">
            <div class="text-red"><h1>ABOUT SOURCH TECHNOLOGIES</h1></div>
        </div>
        <div class="markdown text-secondary container mt-0, mb-2">
            Sourch Technologies is your all-in-one digital solution partner, from creating captivating
            websites, expert lead generation, and dynamic social media management to personalized email marketing,
            cutting-edge software development, and insightful dashboard design. Our multidisciplinary approach
            ensures your digital success, combining creativity, technology, and a steadfast commitment to your unique business needs.
        </div>

    </div>
    <div class="position-relative">
        <div class="position-absolute top-0 left-0 px-3 mt-1 w-75">
            <div class="row g-2">
                <div class="col-auto">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-10">
                <h3 class="text-red"></h3>

            </div>
        </div>
    </div>
</div>


<!-- Most Visited Pages -->
<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="text-red">Services We Offer</h3>
        </div>
        <div class="card-table table-responsive">
            <table class="table table-vcenter">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Total Calls</th>
                        <th>Total Conversions</th>
                        <th>Active Projects</th>
                    </tr>
                </thead>
                <tr>

                    <td class="text-secondary">Sales Qualified Appointment Settings</td>
                    <td class="text-secondary">4,896</td>
                    <td class="text-secondary">3,654</td>
                    <td class="text-secondary">82.54%</td>
                    <td class="text-end w-1">
                    </td>
                </tr>
                <tr>

                    <td class="text-secondary">Dashboard Development</td>
                    <td class="text-secondary">4,896</td>
                    <td class="text-secondary">3,654</td>
                    <td class="text-secondary">82.54%</td>
                    <td class="text-end w-1">
                    </td>
                </tr>
                <tr>

                    <td class="text-secondary">Website Development</td>
                    <td class="text-secondary">4,896</td>
                    <td class="text-secondary">3,654</td>
                    <td class="text-secondary">82.54%</td>
                    <td class="text-end w-1">
                    </td>
                </tr>
                <tr>

                    <td class="text-secondary">Social Media Marketing</td>
                    <td class="text-secondary">4,896</td>
                    <td class="text-secondary">3,654</td>
                    <td class="text-secondary">82.54%</td>
                    <td class="text-end w-1">
                    </td>
                </tr>
                <tr>

                    <td class="text-secondary">Email Marketing</td>
                    <td class="text-secondary">4,896</td>
                    <td class="text-secondary">3,654</td>
                    <td class="text-secondary">82.54%</td>
                    <td class="text-end w-1">
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
<!-- gap -->
<div class="position-relative">
    <div class="position-absolute top-0 left-0 px-3 mt-1 w-75">
        <div class="row g-2">
            <div class="col-auto">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row align-items-center">
        <div class="col-10">
            <h3 class="text-red"></h3>

        </div>
    </div>
</div>
</div>



<!-- employee details -->


<div class="position-relative">
    <div class="position-absolute top-0 left-0 px-3 mt-1 w-75">
        <div class="row g-2">
            <div class="col-auto">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row align-items-center">
        <div class="col-10">
            <h3 class="text-red"></h3>

        </div>
    </div>
</div>
              
<div class="page-wrapper">
    <div class="page-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span  class="avatar avatar-lg rounded" style="background-image: url('@Url.Content("~/Images/" + Model.PhotoPath)') "></span>
                </div>
                <div class="col">
                    <h1 class="fw-bold">@Model.Name</h1>
                    <div class="my-2">
                        @Model.EmployeeDesignation
                    </div>
                    <div class="list-inline list-inline-dots text-secondary">
                        <div class="list-inline-item">
                            <!-- Download SVG icon from http://tabler-icons.io/i/map -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13" /><path d="M9 4v13" /><path d="M15 7v13" /></svg>
                            @Model.EmployeeAddress
                        </div>
                        <div class="list-inline-item">
                            <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
                            <a href="#" class="text-reset">@Model.Email</a>
                        </div>
                       @*  <div class="list-inline-item">
                            <!-- Download SVG icon from http://tabler-icons.io/i/cake -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z" /><path d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197" /><path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z" /></svg>
                            @Model.JoiningDate
                        </div> *@
                    </div>
                </div>
                <div class="col-auto ms-auto">
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row g-3">
                <div class="col">
                    <ul class="timeline">
                        <li class="timeline-event">
                            <div class="timeline-event-icon bg-twitter-lt">
                                <!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                                    <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                                    <path d="M12 12l0 .01" />
                                    <path d="M3 13a20 20 0 0 0 18 0" />
                                </svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end"><a href="employeespanel-ongoingprojects">10 Ongoing</a></div>
                                    <h4>Projects Handling</h4>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <div class="timeline-event-icon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/briefcase -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" 
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                                <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" />
                                <path d="M3 13a20 20 0 0 0 18 0" /></svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end"><a href="employeespanel-completedprojects.html">20 Completed</a></div>
                                    <h4>Projects Done</h4>

                                </div>
                            </div>
                        </li>
                        @* <li class="timeline-event">
                            <div class="timeline-event-icon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end"><a href="employeespanel-teamallotted.html">10 Members</a></div>
                                    <h4>Team Alloted</h4>

                                </div>
                            </div>
                        </li> *@
                       @*  <li class="timeline-event">
                            <div class="timeline-event-icon bg-facebook-lt">
                                <!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end">October 01, 2023</div>
                                    <h4>Promoted to Sales Head Manager</h4>
                                </div>
                            </div>
                        </li> *@
                      @*   <li class="timeline-event">
                            <div class="timeline-event-icon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/user-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M16 19h6" /><path d="M19 16v6" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /></svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end">March 15, 2023 to October 01, 2023</div>
                                    <h4>Sales Specialist</h4>
                                </div>
                            </div>
                        </li> *@
                        <li class="timeline-event">
                            <div class="timeline-event-icon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/photo -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 8h.01" /><path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" /><path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" /></svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end">0 </div>
                                    <h4>Awards Won</h4>
                                    <div class="mt-3">
                                        <div class="row g-2"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <div class="timeline-event-icon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/settings -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                            </div>
                            <div class="card timeline-event-card">
                                <div class="card-body">
                                    <div class="text-secondary float-end">@Model.JoiningDate </div>
                                    <h4>Date Of Joining</h4>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">Employee Info</div>
                                    <div class="mb-2">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                        Employee Phone: <strong>@Model.PhoneNumber</strong>
                                    </div>
                                    <div class="mb-2">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/briefcase -->
                                        Employee Email: <strong>@Model.Email</strong>
                                    </div>
                                    <div class="mb-2">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                        Lives in: <strong>@Model.EmployeeAddress</strong>
                                    </div>
                                    <div>
                                        <!-- Download SVG icon from http://tabler-icons.io/i/clock -->
                                        Time zone: <strong>IST (INDIAN STANDARD TIME) <span id="current-time"></span></strong>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @* <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title">About Me</h2>
                                    <div>
                                        <p>
                                            Write about yourself (editable By User 1 )
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
 </<div>
    <script>
        function updateTime() {
            const options = { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true };
            const formatter = new Intl.DateTimeFormat('en-US', options);
            const currentTime = formatter.format(new Date());
            document.getElementById('current-time').innerText = currentTime;
        }

        // Update the time immediately and then every second
        updateTime();
        setInterval(updateTime, 1000);
    </script>
